<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <script type="text/javascript" src="//use.typekit.net/bod7bdb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    <!-- JS -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.render('js/app-header.min.js') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    {% block outer_content %}
    <div class="nav-bar">
        <div class="container-fluid">
            <ul class="nav-items">
                <li class="logo"><a href="http://www.northbynorthwestern.com/library"><img src="http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png"></a></li>
                <li class="title"><a href="http://www.northbynorthwestern.com/library">NBN Commencement 2014</a></li>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    {% endblock outer_content %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/ads.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}