{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@nbn_tweets">
<meta name="twitter:description" content="{{ COPY.meta.twitter_description }}">
<meta name="twitter:image" content="{{ COPY.meta.twitter_image_url }}" />

{# Facebook #}
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ COPY.meta.facebook_text }}" />
<meta property="og:image" content="{{ COPY.meta.facebook_image_url }}" />
<meta property="og:site_name" content="northbynorthwestern.com" />