{% extends '_base.html' %}
{% block content %}
     <div class="nav-bar">
        <div class="container-fluid">
            <ul class="nav-items">
                <li class="logo"><a href="http://www.northbynorthwestern.com/library"><img src="http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png"></a></li>
                <li class="title"><a href="http://www.northbynorthwestern.com/library">NBN Commencement 2014</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid landing-page">
        <div class="row header mobile-hide">
            <div class="col-lg-12 inline-img">
                <img src="img/sample.jpg">
                <div class="title">
                    <h1><span class="farewell">Farewell</span><br/>from the class of 2014</h1>
                </div>
            </div>
        </div>
        <div class="row header mobile-show">
            <div class="col-xs-12">
                <div class="title">
                    <h1><span class="farewell">Farewell</span><br/>from the class of 2014</h1>
                </div>
            </div>
        </div>
        <div class="row list-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list1.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list2.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
        </div>
        <div class="row list-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list1.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list2.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
        </div>
        <div class="row list-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list1.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list2.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
        </div>
        <div class="row list-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list1.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list2.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
        </div>
        <div class="row list-row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list1.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list2.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">By Celeste Mora</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
