{% extends '_base.html' %}
{% block extra_head %}
    <title>NBN Commencement 2014</title>
    <meta name="twitter:title" content="{{ COPY.meta.twitter_title }}">
    <meta property="og:title" content="{{ COPY.meta.facebook_title }}" />
    <meta name="twitter:description" content="{{ COPY.meta.twitter_description }}">
    <meta property="og:description" content="{{ COPY.meta.facebook_description }}" />
{% endblock %}

{% block content %}
    <div class="cover header mobile-hide" style="background-image: url('img/deering.jpg'); background-size: cover;">
        <div class="title">
            <h1><span class="farewell">Farewell</span><br/>from the class of 2014</h1>
        </div>
        </div>
    </div>
    <div class="container-fluid landing-page">
        <div class="row header mobile-show">
            <div class="col-xs-12">
                <div class="title">
                    <h1><span class="farewell">Farewell</span><br/>from the class of 2014</h1>
                </div>
            </div>
        </div>

        {% for row in grid %}
        <div class="row list-row">
            {% for item in row %}
                <a href="story/{{ item.slug }}">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                    <img src="img/{{ item.image }}">
                    <div class="mask"></div>
                    <div class="mask-text">
                        <p class="story-title">{{ item.title }}</p>
                        <p class="name">by {{ item.author }}</p>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
        {% endfor %}
        <!-- <div class="row list-row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list1.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list2.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
        </div>
        <div class="row list-row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list1.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list2.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
        </div>
        <div class="row list-row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list1.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list2.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
        </div>
        <div class="row list-row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list1.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list2.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 list-block">
                <img src="img/list3.jpg">
                <div class="mask"></div>
                <div class="mask-text">
                    <p><a href="ferro.html">I cannot throw<br/>my cap</a></p>
                    <p class="name">by Celeste Mora</p>
                </div>
            </div>
        </div> -->
    </div>
{% endblock %}
