{% extends '_base.html' %}
{% block extra_head %}
    <title>{{ story.title }} | NBN Commencement 2014</title>
    <meta name="twitter:title" content="{{ story.title }} | {{ COPY.meta.twitter_title }}">
    <meta property="og:title" content="{{ story.title }} | {{ COPY.meta.facebook_title }}" />


{% endblock %}
{% block content %}
        <div class="article">
            <div class="cover mobile-hide" style="background-image: url('../../img/{{ story.cover_photo }}'); background-size: cover;">
                <div class="title">
                    <h1>{{ story.title }}</h1>
                </div>
                <div class="credit">
                    <p>{{ story.photo_cred }}</p>
                </div>
            </div>
        <div class="container">
            <div class="row mobile-show">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="title">
                        <h1>{{ story.title }}</h1>
                        <p class="name mobile-show">by <a href="http://twitter.com/{{ story.twitter }}" target="_blank">{{ story.author }}</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-3 col-lg-offset-1 byline">
                    <img src="../../img/{{ story.author_photo }}">
                    <p class="name">by <a href="http://twitter.com/{{ story.twitter }}" target="_blank">{{ story.author }}</a></p>
                    <p class="bio">{{ story.bio }}</p>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6 article-body">
                    {{ story.text }}

                    <p class="bio mobile-show">{{ story.bio }}</p>

                    <p class="back"><a href="http://apps.northbynorthwestern.com/commencement/2014/"><i class="fa fa-arrow-circle-left"></i> Back to stories</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}